@page
@model MCEJ.Pages.ViewBooksModel
@{
    ViewData["Title"] = "View books";
}
<h1>@ViewData["Title"]</h1>

<p>View all the books in the library:</p>

@if (Model.books != null && Model.books.Count() > 0)
{
    <table>
        <tr>
            <th>
                <label asp-for="books.First().BookId"></label>
            </th>
            <th>            
                @Html.DisplayFor(model => model.books[0].Title)
            </th>
        </tr>

        @foreach (Objects.Book book in Model.books) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => book.BookId)
                </td>
                <td>
                    @book.Title
                </td>
                <td>
                    @book.Author
                </td>
            </tr>
        }
    </table>
}
else 
{
    <p>There are no books in the library.</p>
}
